<html>

<head>
</head>

<body>
  <div id="fnac">

    <!--bind value of input to model | listen for the event in button-->
    <add-todo v-model='newValue' v-on:add-value="addItem"></add-todo>

    <!--Need to use v-bind to inject data as props into a component -->
    <todo-item v-for="item in todos" v-bind:todo="item" :key="item.key">

    </todo-item>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>

    //Inject data into a component: need to defind in props

    //In order to use v-model: Bind the value attribute to a value prop, On input, emit its own custom input event with the new value
    Vue.component('add-todo', {
      props: ['newValue'],
      template: `<div>
                    <input v-bind:value="newValue" v-on:input="$emit('input', $event.target.value)" type="text"/>
                    <button v-on:click="$emit('add-value')">Add</button>
                </div>`
    })

    Vue.component('todo-item', {
      props: ['todo'],
      template: `
                <div>
                  <li key={{todo.key}}>{{todo.text}}</li>
                  <button v-on:click="removeItem('key')">remove</button>
                </div>
                `
    })

    var app = new Vue({
      el: '#fnac',
      data: {
        newValue: "",
        todos: [
          {
            key: 1,
            text: 'a'
          }
        ]
      },
      methods: {
        removeItem: function (key) {
          console.log('key', key)
        },
        addItem: function () {
          console.log('add item', this.newValue)
        }
      }

    });
  </script>
</body>

</html>